

  .theme-container.custom-page-class {
  /* 特定页面的 CSS */
  
  .navbar{
    background: hsla(0,0%,100%,0) 
    position: absolute 
    top: 0 
    left: 0 
    box-shadow: none 
    
    --text-color-sub: #fff;

   
    }
    .links{
      background-color: hsla(0,0%,100%,0) 
   
      }
      .site-name{
        color: #fff
        }
    
    .hero{
     margin: 0 
     color: #fff
     }
     .nav-links a {
       color: #fff
      
       }
       .nav-links a:hover {
       color: #8bc6ec
       }
     .dropdown-wrapper .nav-dropdown .dropdown-item a{
       color: var(--text-color)
    
   
       }

        .dropdown-wrapper .nav-dropdown .dropdown-item a:hover{
       color: #8bc6ec
       
       }

    
}